In [35]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set(style="darkgrid")

#### Data Input 723 coulumns

In [2]:
df = pd.read_csv('D:\Jupyter\plans.csv')
df.head()
df.tail()

,UNIQUE,YEAR,DATECAPTURE,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,...,TEHBInnFamilyMOOP,TEHBInnFamilyMOOP_TIERS,TEHBInnTier1FamilyMOOPA,TEHBInnTier2FamilyMOOPA,MEHBOutOfNetFamilyMOOP,DEHBOutOfNetFamilyMOOP,TEHBOutOfNetFamilyMOOP,MEHBOutOfNetFamilyMOOPA,DEHBOutOfNetFamilyMOOPA,TEHBOutOfNetFamilyMOOPA
36106,NaN,2018,2018-01-15,11269WY0070018-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,...,1,1.0,11700.0,NaN,0,0,2,NaN,NaN,NaN
36107,NaN,2018,2018-01-15,11269WY0070018-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,...,1,1.0,11700.0,NaN,0,0,2,NaN,NaN,NaN
36108,NaN,2018,2018-01-15,11269WY0070013,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,...,1,1.0,14700.0,NaN,0,0,2,NaN,NaN,NaN
36109,NaN,2018,2018-01-15,11269WY0070013,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,...,1,1.0,14700.0,NaN,0,0,2,NaN,NaN,NaN
36110,NaN,2018,2018-01-15,11269WY0070013,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,...,1,1.0,14700.0,NaN,0,0,2,NaN,NaN,NaN

In [3]:
df.shape
df.dtypes

UNIQUE                         float64
YEAR                             int64
DATECAPTURE                     object
PLANID                          object
ST                              object
AREA                            object
CARRIER                         object
PLANNAME                        object
METAL                           object
PLANTYPE                         int64
PREMIC                         float64
PREMI27                        float64
PREMI50                        float64
PREMI2C30                      float64
PREMC2C30                      float64
CSR                              int64
PLANMARKET                       int64
CHILDONLY                        int64
NETWORKID                        int64
actively_marketed                 bool
MULTITIERED                      int64
AB_LIMITED                       int64
AB_CopayInn_TIERS                int64
AB_CopayInnTier1Complex          int64
AB_CopayInnTier1                 int64
AB_CopayInnTier1A              float64
AB_CopayInnTier2Complex          int64
AB_CopayInnTier2                 int64
AB_CopayInnTier2A              float64
AB_CoinsInn_TIERS                int64
                                ...
DEHBInnTier1IndividualMOOPA    float64
DEHBInnTier2IndividualMOOPA    float64
TEHBInnIndividualMOOP            int64
TEHBInnIndividualMOOP_TIERS    float64
TEHBInnTier1IndividualMOOPA    float64
TEHBInnTier2IndividualMOOPA    float64
MEHBOutOfNetIndividualMOOP       int64
DEHBOutOfNetIndividualMOOP       int64
TEHBOutOfNetIndividualMOOP       int64
MEHBOutOfNetIndividualMOOPA    float64
DEHBOutOfNetIndividualMOOPA    float64
TEHBOutOfNetIndividualMOOPA    float64
MEHBInnFamilyMOOP                int64
MEHBInnFamilyMOOP_TIERS        float64
MEHBInnTier1FamilyMOOPA        float64
MEHBInnTier2FamilyMOOPA        float64
DEHBInnFamilyMOOP                int64
DEHBInnFamilyMOOP_TIERS        float64
DEHBInnTier1FamilyMOOPA        float64
DEHBInnTier2FamilyMOOPA        float64
TEHBInnFamilyMOOP                int64
TEHBInnFamilyMOOP_TIERS        float64
TEHBInnTier1FamilyMOOPA        float64
TEHBInnTier2FamilyMOOPA        float64
MEHBOutOfNetFamilyMOOP           int64
DEHBOutOfNetFamilyMOOP           int64
TEHBOutOfNetFamilyMOOP           int64
MEHBOutOfNetFamilyMOOPA        float64
DEHBOutOfNetFamilyMOOPA        float64
TEHBOutOfNetFamilyMOOPA        float64
Length: 723, dtype: object

#### Child only Plans (preserving CSR plans)

In [4]:
df.groupby(df['CHILDONLY']==1)['CHILDONLY'].count()

CHILDONLY
False    35542
True       569
Name: CHILDONLY, dtype: int64

In [5]:
df = df[df.CHILDONLY != 1]
len(df)

35542

#### Select Columns: Preliminary Analysis, disregarding benefits columns

In [6]:
pd.crosstab(index=df["MULTITIERED"],columns="count")

col_0        count
MULTITIERED
0            33640
1             1902

In [7]:
df = df.rename(columns={"MULTITIERED": "TIERED"})

In [8]:
df.columns[df.columns.str.contains('AB_.*')]

Index(['AB_LIMITED', 'AB_CopayInn_TIERS', 'AB_CopayInnTier1Complex',
       'AB_CopayInnTier1', 'AB_CopayInnTier1A', 'AB_CopayInnTier2Complex',
       'AB_CopayInnTier2', 'AB_CopayInnTier2A', 'AB_CoinsInn_TIERS',
       'AB_CoinsInnTier1Complex', 'AB_CoinsInnTier1', 'AB_CoinsInnTier1A',
       'AB_CoinsInnTier2Complex', 'AB_CoinsInnTier2', 'AB_CoinsInnTier2A',
       'AB_CopayOutofNetComplex', 'AB_CopayOutofNet', 'AB_CopayOutofNetA',
       'AB_CoinsOutofNetComplex', 'AB_CoinsOutofNet', 'AB_CoinsOutofNetA'],
      dtype='object')

In [9]:
df.columns[df.columns.str.contains('UC_.*')]

Index(['UC_LIMITED', 'UC_CopayInn_TIERS', 'UC_CopayInnTier1Complex',
       'UC_CopayInnTier1', 'UC_CopayInnTier1A', 'UC_CopayInnTier2Complex',
       'UC_CopayInnTier2', 'UC_CopayInnTier2A', 'UC_CoinsInn_TIERS',
       'UC_CoinsInnTier1Complex', 'UC_CoinsInnTier1', 'UC_CoinsInnTier1A',
       'UC_CoinsInnTier2Complex', 'UC_CoinsInnTier2', 'UC_CoinsInnTier2A',
       'UC_CopayOutofNetComplex', 'UC_CopayOutofNet', 'UC_CopayOutofNetA',
       'UC_CoinsOutofNetComplex', 'UC_CoinsOutofNet', 'UC_CoinsOutofNetA'],
      dtype='object')

In [10]:
df.columns.get_loc("AB_LIMITED")

21

In [11]:
df.columns.get_loc("UC_CoinsOutofNetA")

650

In [12]:
df.drop(df.iloc[:,21:651], axis=1, inplace=True)

In [13]:
df.shape
df.dtypes

UNIQUE                         float64
YEAR                             int64
DATECAPTURE                     object
PLANID                          object
ST                              object
AREA                            object
CARRIER                         object
PLANNAME                        object
METAL                           object
PLANTYPE                         int64
PREMIC                         float64
PREMI27                        float64
PREMI50                        float64
PREMI2C30                      float64
PREMC2C30                      float64
CSR                              int64
PLANMARKET                       int64
CHILDONLY                        int64
NETWORKID                        int64
actively_marketed                 bool
TIERED                           int64
MEHBDedInnIndividual             int64
MEHBDedInnIndividual_TIERS     float64
MEHBDedInnTier1IndividualA     float64
MEHBDedInnTier2IndividualA     float64
DEHBDedInnIndividual             int64
DEHBDedInnIndividual_TIERS     float64
DEHBDedInnTier1IndividualA     float64
DEHBDedInnTier2IndividualA     float64
TEHBDedInnIndividual             int64
                                ...
DEHBInnTier1IndividualMOOPA    float64
DEHBInnTier2IndividualMOOPA    float64
TEHBInnIndividualMOOP            int64
TEHBInnIndividualMOOP_TIERS    float64
TEHBInnTier1IndividualMOOPA    float64
TEHBInnTier2IndividualMOOPA    float64
MEHBOutOfNetIndividualMOOP       int64
DEHBOutOfNetIndividualMOOP       int64
TEHBOutOfNetIndividualMOOP       int64
MEHBOutOfNetIndividualMOOPA    float64
DEHBOutOfNetIndividualMOOPA    float64
TEHBOutOfNetIndividualMOOPA    float64
MEHBInnFamilyMOOP                int64
MEHBInnFamilyMOOP_TIERS        float64
MEHBInnTier1FamilyMOOPA        float64
MEHBInnTier2FamilyMOOPA        float64
DEHBInnFamilyMOOP                int64
DEHBInnFamilyMOOP_TIERS        float64
DEHBInnTier1FamilyMOOPA        float64
DEHBInnTier2FamilyMOOPA        float64
TEHBInnFamilyMOOP                int64
TEHBInnFamilyMOOP_TIERS        float64
TEHBInnTier1FamilyMOOPA        float64
TEHBInnTier2FamilyMOOPA        float64
MEHBOutOfNetFamilyMOOP           int64
DEHBOutOfNetFamilyMOOP           int64
TEHBOutOfNetFamilyMOOP           int64
MEHBOutOfNetFamilyMOOPA        float64
DEHBOutOfNetFamilyMOOPA        float64
TEHBOutOfNetFamilyMOOPA        float64
Length: 93, dtype: object

In [14]:
df = df.drop(['UNIQUE', 'YEAR', 'DATECAPTURE','PREMIC','PREMI2C30','PREMC2C30',
         'CHILDONLY','actively_marketed'], axis=1)

In [15]:
df.dtypes

PLANID                          object
ST                              object
AREA                            object
CARRIER                         object
PLANNAME                        object
METAL                           object
PLANTYPE                         int64
PREMI27                        float64
PREMI50                        float64
CSR                              int64
PLANMARKET                       int64
NETWORKID                        int64
TIERED                           int64
MEHBDedInnIndividual             int64
MEHBDedInnIndividual_TIERS     float64
MEHBDedInnTier1IndividualA     float64
MEHBDedInnTier2IndividualA     float64
DEHBDedInnIndividual             int64
DEHBDedInnIndividual_TIERS     float64
DEHBDedInnTier1IndividualA     float64
DEHBDedInnTier2IndividualA     float64
TEHBDedInnIndividual             int64
TEHBDedInnIndividual_TIERS     float64
TEHBDedInnTier1IndividualA     float64
TEHBDedInnTier2IndividualA     float64
MEHBDedOutOfNetIndividual        int64
DEHBDedOutOfNetIndividual        int64
TEHBDedOutOfNetIndividual        int64
MEHBDedOutOfNetIndividualA     float64
DEHBDedOutOfNetIndividualA     float64
                                ...
DEHBInnTier1IndividualMOOPA    float64
DEHBInnTier2IndividualMOOPA    float64
TEHBInnIndividualMOOP            int64
TEHBInnIndividualMOOP_TIERS    float64
TEHBInnTier1IndividualMOOPA    float64
TEHBInnTier2IndividualMOOPA    float64
MEHBOutOfNetIndividualMOOP       int64
DEHBOutOfNetIndividualMOOP       int64
TEHBOutOfNetIndividualMOOP       int64
MEHBOutOfNetIndividualMOOPA    float64
DEHBOutOfNetIndividualMOOPA    float64
TEHBOutOfNetIndividualMOOPA    float64
MEHBInnFamilyMOOP                int64
MEHBInnFamilyMOOP_TIERS        float64
MEHBInnTier1FamilyMOOPA        float64
MEHBInnTier2FamilyMOOPA        float64
DEHBInnFamilyMOOP                int64
DEHBInnFamilyMOOP_TIERS        float64
DEHBInnTier1FamilyMOOPA        float64
DEHBInnTier2FamilyMOOPA        float64
TEHBInnFamilyMOOP                int64
TEHBInnFamilyMOOP_TIERS        float64
TEHBInnTier1FamilyMOOPA        float64
TEHBInnTier2FamilyMOOPA        float64
MEHBOutOfNetFamilyMOOP           int64
DEHBOutOfNetFamilyMOOP           int64
TEHBOutOfNetFamilyMOOP           int64
MEHBOutOfNetFamilyMOOPA        float64
DEHBOutOfNetFamilyMOOPA        float64
TEHBOutOfNetFamilyMOOPA        float64
Length: 85, dtype: object

In [16]:
df.columns[df.columns.str.contains('DedInnIndividual|DedOutOfNetIndividual')]

Index(['MEHBDedInnIndividual', 'MEHBDedInnIndividual_TIERS',
       'DEHBDedInnIndividual', 'DEHBDedInnIndividual_TIERS',
       'TEHBDedInnIndividual', 'TEHBDedInnIndividual_TIERS',
       'MEHBDedOutOfNetIndividual', 'DEHBDedOutOfNetIndividual',
       'TEHBDedOutOfNetIndividual', 'MEHBDedOutOfNetIndividualA',
       'DEHBDedOutOfNetIndividualA', 'TEHBDedOutOfNetIndividualA'],
      dtype='object')

In [24]:
df.columns[df.columns.str.contains('DedInnFamily|DedOutOfNetFamily')]

Index(['MEHBDedInnFamily', 'MEHBDedInnFamily_TIERS', 'DEHBDedInnFamily',
       'DEHBDedInnFamily_TIERS', 'TEHBDedInnFamily', 'TEHBDedInnFamily_TIERS',
       'MEHBDedOutOfNetFamily', 'DEHBDedOutOfNetFamily',
       'TEHBDedOutOfNetFamily', 'MEHBDedOutOfNetFamilyA',
       'DEHBDedOutOfNetFamilyA', 'TEHBDedOutOfNetFamilyA'],
      dtype='object')

In [18]:
pd.crosstab(df.TEHBDedInnIndividual,df.MEHBDedInnIndividual)

MEHBDedInnIndividual     0      1   99
TEHBDedInnIndividual
0                         0  10742  24
1                     24776      0   0

In [19]:
pd.crosstab(df.TEHBDedInnIndividual,df.DEHBDedInnIndividual)

DEHBDedInnIndividual      0      1
TEHBDedInnIndividual
0                         0  10766
1                     24776      0

In [40]:
pd.crosstab(df.MEHBDedInnIndividual_TIERS, df.DEHBDedInnIndividual_TIERS)

DEHBDedInnIndividual_TIERS    1.0  2.0
MEHBDedInnIndividual_TIERS
1.0                         10640    0
2.0                             0  126

In [43]:
#recode
df['Type_Ded_INN_Ind'] = np.where(df['TEHBDedInnIndividual']==1, 1, 0)

In [45]:
df['Tier_Ded_INN_Ind'] = df['MEHBDedInnIndividual_TIERS']

In [46]:
df['Tier_Ded_INN_Ind'][df['Type_Ded_INN_Ind']==1] = df['TEHBDedInnIndividual_TIERS']

D:\Users\RWang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
pd.crosstab(df.TEHBDedInnFamily,df.MEHBDedInnFamily)

MEHBDedInnFamily     0      1    99
TEHBDedInnFamily
0                     0  10505  213
1                 24824      0    0

In [21]:
pd.crosstab(df.TEHBDedInnFamily,df.DEHBDedInnFamily)

DEHBDedInnFamily      0      1
TEHBDedInnFamily
0                     0  10718
1                 24824      0

In [22]:
pd.crosstab(df.TEHBInnIndividualMOOP,df.MEHBInnIndividualMOOP)

MEHBInnIndividualMOOP     0    1   99
TEHBInnIndividualMOOP
0                          0  256  24
1                      35262    0   0

In [23]:
pd.crosstab(df.TEHBInnIndividualMOOP,df.DEHBInnIndividualMOOP)

DEHBInnIndividualMOOP      0    1
TEHBInnIndividualMOOP
0                          0  280
1                      35262    0

In [25]:
pd.crosstab(df.TEHBInnFamilyMOOP,df.MEHBInnFamilyMOOP)

MEHBInnFamilyMOOP     0    1    99
TEHBInnFamilyMOOP
0                      0  233  213
1                  35096    0    0

In [26]:
pd.crosstab(df.TEHBInnFamilyMOOP,df.DEHBInnFamilyMOOP)

DEHBInnFamilyMOOP      0    1
TEHBInnFamilyMOOP
0                      0  446
1                  35096    0

In [27]:
pd.crosstab(df.TEHBDedOutOfNetIndividual,df.MEHBDedOutOfNetIndividual)

MEHBDedOutOfNetIndividual     0     1     2   99
TEHBDedOutOfNetIndividual
0                              0  2376  8345  45
1                           5959     0     0   0
2                          18786     0     0   0
99                            31     0     0   0

In [28]:
pd.crosstab(df.TEHBDedOutOfNetIndividual,df.DEHBDedOutOfNetIndividual)

DEHBDedOutOfNetIndividual     0     1     2   99
TEHBDedOutOfNetIndividual
0                              0  1522  9193  51
1                           5959     0     0   0
2                          18786     0     0   0
99                            31     0     0   0

In [29]:
pd.crosstab(df.TEHBDedOutOfNetFamily,df.MEHBDedOutOfNetFamily)

MEHBDedOutOfNetFamily     0     1     2    99
TEHBDedOutOfNetFamily
0                          0  2302  8203  213
1                       5861     0     0    0
2                      18944     0     0    0
99                        19     0     0    0

In [30]:
pd.crosstab(df.TEHBDedOutOfNetFamily,df.DEHBDedOutOfNetFamily)

DEHBDedOutOfNetFamily     0     1     2    99
TEHBDedOutOfNetFamily
0                          0  1184  9321  213
1                       5861     0     0    0
2                      18944     0     0    0
99                        19     0     0    0

In [31]:
pd.crosstab(df.TEHBOutOfNetIndividualMOOP,df.MEHBOutOfNetIndividualMOOP)

MEHBOutOfNetIndividualMOOP     0   1    2   99
TEHBOutOfNetIndividualMOOP
0                               0  75  160  45
1                            5532   0    0   0
2                           29632   0    0   0
99                             98   0    0   0

In [32]:
pd.crosstab(df.TEHBOutOfNetIndividualMOOP,df.DEHBOutOfNetIndividualMOOP)

DEHBOutOfNetIndividualMOOP     0   1    2   99
TEHBOutOfNetIndividualMOOP
0                               0  75  160  45
1                            5532   0    0   0
2                           29632   0    0   0
99                             98   0    0   0

In [33]:
pd.crosstab(df.TEHBOutOfNetFamilyMOOP,df.MEHBOutOfNetFamilyMOOP)

MEHBOutOfNetFamilyMOOP     0   1    2    99
TEHBOutOfNetFamilyMOOP
0                           0  67  158  221
1                        5532   0    0    0
2                       29545   0    0    0
99                         19   0    0    0

In [34]:
pd.crosstab(df.TEHBOutOfNetFamilyMOOP,df.DEHBOutOfNetFamilyMOOP)

DEHBOutOfNetFamilyMOOP     0   1    2    99
TEHBOutOfNetFamilyMOOP
0                           0  75  158  213
1                        5532   0    0    0
2                       29545   0    0    0
99                         19   0    0    0

In [ ]:
df.groupby(df['TIERED']==1)[''].count()

#### Unique Plans

In [ ]:
len(df)

#### Check On and Off overlap