In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set(style="darkgrid")

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### Data Input 723 coulumns

In [2]:
df = pd.read_csv('D:\Jupyter\plans.csv')
df.head()
df.tail()

,UNIQUE,YEAR,DATECAPTURE,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,...,TEHBInnFamilyMOOP,TEHBInnFamilyMOOP_TIERS,TEHBInnTier1FamilyMOOPA,TEHBInnTier2FamilyMOOPA,MEHBOutOfNetFamilyMOOP,DEHBOutOfNetFamilyMOOP,TEHBOutOfNetFamilyMOOP,MEHBOutOfNetFamilyMOOPA,DEHBOutOfNetFamilyMOOPA,TEHBOutOfNetFamilyMOOPA
0,NaN,2018,2018-01-15,38344AK0540010-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,...,1,1.0,7600.0,NaN,0,0,2,NaN,NaN,NaN
1,NaN,2018,2018-01-15,38344AK0540010-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,...,1,1.0,7600.0,NaN,0,0,2,NaN,NaN,NaN
2,NaN,2018,2018-01-15,38344AK0540010-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,...,1,1.0,7600.0,NaN,0,0,2,NaN,NaN,NaN
3,NaN,2018,2018-01-15,38344AK0540006-06,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,...,1,1.0,1400.0,NaN,0,0,2,NaN,NaN,NaN
4,NaN,2018,2018-01-15,38344AK0540006-06,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,...,1,1.0,1400.0,NaN,0,0,2,NaN,NaN,NaN

,UNIQUE,YEAR,DATECAPTURE,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,...,TEHBInnFamilyMOOP,TEHBInnFamilyMOOP_TIERS,TEHBInnTier1FamilyMOOPA,TEHBInnTier2FamilyMOOPA,MEHBOutOfNetFamilyMOOP,DEHBOutOfNetFamilyMOOP,TEHBOutOfNetFamilyMOOP,MEHBOutOfNetFamilyMOOPA,DEHBOutOfNetFamilyMOOPA,TEHBOutOfNetFamilyMOOPA
36106,NaN,2018,2018-01-15,11269WY0070018-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,...,1,1.0,11700.0,NaN,0,0,2,NaN,NaN,NaN
36107,NaN,2018,2018-01-15,11269WY0070018-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,...,1,1.0,11700.0,NaN,0,0,2,NaN,NaN,NaN
36108,NaN,2018,2018-01-15,11269WY0070013,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,...,1,1.0,14700.0,NaN,0,0,2,NaN,NaN,NaN
36109,NaN,2018,2018-01-15,11269WY0070013,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,...,1,1.0,14700.0,NaN,0,0,2,NaN,NaN,NaN
36110,NaN,2018,2018-01-15,11269WY0070013,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,...,1,1.0,14700.0,NaN,0,0,2,NaN,NaN,NaN

In [3]:
df.shape
df.dtypes

(36111, 723)

UNIQUE                         float64
YEAR                             int64
DATECAPTURE                     object
PLANID                          object
ST                              object
AREA                            object
CARRIER                         object
PLANNAME                        object
METAL                           object
PLANTYPE                         int64
PREMIC                         float64
PREMI27                        float64
PREMI50                        float64
PREMI2C30                      float64
PREMC2C30                      float64
CSR                              int64
PLANMARKET                       int64
CHILDONLY                        int64
NETWORKID                        int64
actively_marketed                 bool
MULTITIERED                      int64
AB_LIMITED                       int64
AB_CopayInn_TIERS                int64
AB_CopayInnTier1Complex          int64
AB_CopayInnTier1                 int64
AB_CopayInnTier1A              float64
AB_CopayInnTier2Complex          int64
AB_CopayInnTier2                 int64
AB_CopayInnTier2A              float64
AB_CoinsInn_TIERS                int64
                                ...
DEHBInnTier1IndividualMOOPA    float64
DEHBInnTier2IndividualMOOPA    float64
TEHBInnIndividualMOOP            int64
TEHBInnIndividualMOOP_TIERS    float64
TEHBInnTier1IndividualMOOPA    float64
TEHBInnTier2IndividualMOOPA    float64
MEHBOutOfNetIndividualMOOP       int64
DEHBOutOfNetIndividualMOOP       int64
TEHBOutOfNetIndividualMOOP       int64
MEHBOutOfNetIndividualMOOPA    float64
DEHBOutOfNetIndividualMOOPA    float64
TEHBOutOfNetIndividualMOOPA    float64
MEHBInnFamilyMOOP                int64
MEHBInnFamilyMOOP_TIERS        float64
MEHBInnTier1FamilyMOOPA        float64
MEHBInnTier2FamilyMOOPA        float64
DEHBInnFamilyMOOP                int64
DEHBInnFamilyMOOP_TIERS        float64
DEHBInnTier1FamilyMOOPA        float64
DEHBInnTier2FamilyMOOPA        float64
TEHBInnFamilyMOOP                int64
TEHBInnFamilyMOOP_TIERS        float64
TEHBInnTier1FamilyMOOPA        float64
TEHBInnTier2FamilyMOOPA        float64
MEHBOutOfNetFamilyMOOP           int64
DEHBOutOfNetFamilyMOOP           int64
TEHBOutOfNetFamilyMOOP           int64
MEHBOutOfNetFamilyMOOPA        float64
DEHBOutOfNetFamilyMOOPA        float64
TEHBOutOfNetFamilyMOOPA        float64
Length: 723, dtype: object

#### Child only Plans (preserving CSR plans)

In [4]:
df.groupby(df['CHILDONLY']==1)['CHILDONLY'].count()

CHILDONLY
False    35542
True       569
Name: CHILDONLY, dtype: int64

In [5]:
df = df[df.CHILDONLY != 1]
len(df)

35542

#### Select Columns: Preliminary Analysis, disregarding benefits columns

In [6]:
pd.crosstab(index=df["MULTITIERED"],columns="count")

col_0        count
MULTITIERED
0            33640
1             1902

In [7]:
df = df.rename(columns={"MULTITIERED": "TIERED"})

In [8]:
df.columns[df.columns.str.contains('AB_.*')]

Index(['AB_LIMITED', 'AB_CopayInn_TIERS', 'AB_CopayInnTier1Complex',
       'AB_CopayInnTier1', 'AB_CopayInnTier1A', 'AB_CopayInnTier2Complex',
       'AB_CopayInnTier2', 'AB_CopayInnTier2A', 'AB_CoinsInn_TIERS',
       'AB_CoinsInnTier1Complex', 'AB_CoinsInnTier1', 'AB_CoinsInnTier1A',
       'AB_CoinsInnTier2Complex', 'AB_CoinsInnTier2', 'AB_CoinsInnTier2A',
       'AB_CopayOutofNetComplex', 'AB_CopayOutofNet', 'AB_CopayOutofNetA',
       'AB_CoinsOutofNetComplex', 'AB_CoinsOutofNet', 'AB_CoinsOutofNetA'],
      dtype='object')

In [9]:
df.columns[df.columns.str.contains('UC_.*')]

Index(['UC_LIMITED', 'UC_CopayInn_TIERS', 'UC_CopayInnTier1Complex',
       'UC_CopayInnTier1', 'UC_CopayInnTier1A', 'UC_CopayInnTier2Complex',
       'UC_CopayInnTier2', 'UC_CopayInnTier2A', 'UC_CoinsInn_TIERS',
       'UC_CoinsInnTier1Complex', 'UC_CoinsInnTier1', 'UC_CoinsInnTier1A',
       'UC_CoinsInnTier2Complex', 'UC_CoinsInnTier2', 'UC_CoinsInnTier2A',
       'UC_CopayOutofNetComplex', 'UC_CopayOutofNet', 'UC_CopayOutofNetA',
       'UC_CoinsOutofNetComplex', 'UC_CoinsOutofNet', 'UC_CoinsOutofNetA'],
      dtype='object')

In [10]:
df.columns.get_loc("AB_LIMITED")

21

In [11]:
df.columns.get_loc("UC_CoinsOutofNetA")

650

In [12]:
df.drop(df.iloc[:,21:651], axis=1, inplace=True)

In [13]:
df.shape
df.dtypes

(35542, 93)

UNIQUE                         float64
YEAR                             int64
DATECAPTURE                     object
PLANID                          object
ST                              object
AREA                            object
CARRIER                         object
PLANNAME                        object
METAL                           object
PLANTYPE                         int64
PREMIC                         float64
PREMI27                        float64
PREMI50                        float64
PREMI2C30                      float64
PREMC2C30                      float64
CSR                              int64
PLANMARKET                       int64
CHILDONLY                        int64
NETWORKID                        int64
actively_marketed                 bool
TIERED                           int64
MEHBDedInnIndividual             int64
MEHBDedInnIndividual_TIERS     float64
MEHBDedInnTier1IndividualA     float64
MEHBDedInnTier2IndividualA     float64
DEHBDedInnIndividual             int64
DEHBDedInnIndividual_TIERS     float64
DEHBDedInnTier1IndividualA     float64
DEHBDedInnTier2IndividualA     float64
TEHBDedInnIndividual             int64
                                ...
DEHBInnTier1IndividualMOOPA    float64
DEHBInnTier2IndividualMOOPA    float64
TEHBInnIndividualMOOP            int64
TEHBInnIndividualMOOP_TIERS    float64
TEHBInnTier1IndividualMOOPA    float64
TEHBInnTier2IndividualMOOPA    float64
MEHBOutOfNetIndividualMOOP       int64
DEHBOutOfNetIndividualMOOP       int64
TEHBOutOfNetIndividualMOOP       int64
MEHBOutOfNetIndividualMOOPA    float64
DEHBOutOfNetIndividualMOOPA    float64
TEHBOutOfNetIndividualMOOPA    float64
MEHBInnFamilyMOOP                int64
MEHBInnFamilyMOOP_TIERS        float64
MEHBInnTier1FamilyMOOPA        float64
MEHBInnTier2FamilyMOOPA        float64
DEHBInnFamilyMOOP                int64
DEHBInnFamilyMOOP_TIERS        float64
DEHBInnTier1FamilyMOOPA        float64
DEHBInnTier2FamilyMOOPA        float64
TEHBInnFamilyMOOP                int64
TEHBInnFamilyMOOP_TIERS        float64
TEHBInnTier1FamilyMOOPA        float64
TEHBInnTier2FamilyMOOPA        float64
MEHBOutOfNetFamilyMOOP           int64
DEHBOutOfNetFamilyMOOP           int64
TEHBOutOfNetFamilyMOOP           int64
MEHBOutOfNetFamilyMOOPA        float64
DEHBOutOfNetFamilyMOOPA        float64
TEHBOutOfNetFamilyMOOPA        float64
Length: 93, dtype: object

In [14]:
df = df.drop(['UNIQUE', 'YEAR', 'DATECAPTURE','PREMIC','PREMI2C30','PREMC2C30',
         'CHILDONLY','actively_marketed'], axis=1)

In [15]:
df.dtypes

PLANID                          object
ST                              object
AREA                            object
CARRIER                         object
PLANNAME                        object
METAL                           object
PLANTYPE                         int64
PREMI27                        float64
PREMI50                        float64
CSR                              int64
PLANMARKET                       int64
NETWORKID                        int64
TIERED                           int64
MEHBDedInnIndividual             int64
MEHBDedInnIndividual_TIERS     float64
MEHBDedInnTier1IndividualA     float64
MEHBDedInnTier2IndividualA     float64
DEHBDedInnIndividual             int64
DEHBDedInnIndividual_TIERS     float64
DEHBDedInnTier1IndividualA     float64
DEHBDedInnTier2IndividualA     float64
TEHBDedInnIndividual             int64
TEHBDedInnIndividual_TIERS     float64
TEHBDedInnTier1IndividualA     float64
TEHBDedInnTier2IndividualA     float64
MEHBDedOutOfNetIndividual        int64
DEHBDedOutOfNetIndividual        int64
TEHBDedOutOfNetIndividual        int64
MEHBDedOutOfNetIndividualA     float64
DEHBDedOutOfNetIndividualA     float64
                                ...
DEHBInnTier1IndividualMOOPA    float64
DEHBInnTier2IndividualMOOPA    float64
TEHBInnIndividualMOOP            int64
TEHBInnIndividualMOOP_TIERS    float64
TEHBInnTier1IndividualMOOPA    float64
TEHBInnTier2IndividualMOOPA    float64
MEHBOutOfNetIndividualMOOP       int64
DEHBOutOfNetIndividualMOOP       int64
TEHBOutOfNetIndividualMOOP       int64
MEHBOutOfNetIndividualMOOPA    float64
DEHBOutOfNetIndividualMOOPA    float64
TEHBOutOfNetIndividualMOOPA    float64
MEHBInnFamilyMOOP                int64
MEHBInnFamilyMOOP_TIERS        float64
MEHBInnTier1FamilyMOOPA        float64
MEHBInnTier2FamilyMOOPA        float64
DEHBInnFamilyMOOP                int64
DEHBInnFamilyMOOP_TIERS        float64
DEHBInnTier1FamilyMOOPA        float64
DEHBInnTier2FamilyMOOPA        float64
TEHBInnFamilyMOOP                int64
TEHBInnFamilyMOOP_TIERS        float64
TEHBInnTier1FamilyMOOPA        float64
TEHBInnTier2FamilyMOOPA        float64
MEHBOutOfNetFamilyMOOP           int64
DEHBOutOfNetFamilyMOOP           int64
TEHBOutOfNetFamilyMOOP           int64
MEHBOutOfNetFamilyMOOPA        float64
DEHBOutOfNetFamilyMOOPA        float64
TEHBOutOfNetFamilyMOOPA        float64
Length: 85, dtype: object

In [16]:
df.columns[df.columns.str.contains('DedInnIndividual|DedOutOfNetIndividual')]

Index(['MEHBDedInnIndividual', 'MEHBDedInnIndividual_TIERS',
       'DEHBDedInnIndividual', 'DEHBDedInnIndividual_TIERS',
       'TEHBDedInnIndividual', 'TEHBDedInnIndividual_TIERS',
       'MEHBDedOutOfNetIndividual', 'DEHBDedOutOfNetIndividual',
       'TEHBDedOutOfNetIndividual', 'MEHBDedOutOfNetIndividualA',
       'DEHBDedOutOfNetIndividualA', 'TEHBDedOutOfNetIndividualA'],
      dtype='object')

In [17]:
df.columns[df.columns.str.contains('DedInnFamily|DedOutOfNetFamily')]

Index(['MEHBDedInnFamily', 'MEHBDedInnFamily_TIERS', 'DEHBDedInnFamily',
       'DEHBDedInnFamily_TIERS', 'TEHBDedInnFamily', 'TEHBDedInnFamily_TIERS',
       'MEHBDedOutOfNetFamily', 'DEHBDedOutOfNetFamily',
       'TEHBDedOutOfNetFamily', 'MEHBDedOutOfNetFamilyA',
       'DEHBDedOutOfNetFamilyA', 'TEHBDedOutOfNetFamilyA'],
      dtype='object')

#### Recode

In [18]:
pd.crosstab(df.TEHBDedInnIndividual,df.MEHBDedInnIndividual)

MEHBDedInnIndividual     0      1   99
TEHBDedInnIndividual
0                         0  10742  24
1                     24776      0   0

In [19]:
pd.crosstab(df.TEHBDedInnIndividual,df.DEHBDedInnIndividual)

DEHBDedInnIndividual      0      1
TEHBDedInnIndividual
0                         0  10766
1                     24776      0

In [20]:
pd.crosstab(df.MEHBDedInnIndividual_TIERS, df.DEHBDedInnIndividual_TIERS)

DEHBDedInnIndividual_TIERS    1.0  2.0
MEHBDedInnIndividual_TIERS
1.0                         10640    0
2.0                             0  126

In [21]:
#recode
df['Type_Ded_INN_Ind'] = np.where(df['TEHBDedInnIndividual']==1, 1, 0)
df['Tier_Ded_INN_Ind'] = np.where(df['Type_Ded_INN_Ind']==1,
                                  df['TEHBDedInnIndividual_TIERS'],df['MEHBDedInnIndividual_TIERS'])

In [22]:
def Harmonise_inn(col_benefit,type_var,n_tier,T1,T2,M1,M2,D1,D2):
    df[col_benefit] = np.where(df[type_var]==1,
                               np.where(df[n_tier] == 1, 
                                        df[T1],(df[T1]+df[T2]/2)),
                               np.where(df[n_tier] == 1,
                                       df[M1]+df[D1],
                                       (df[M1]+df[M2]+df[D1]+df[D2])/2))
    return df

In [23]:
#Individual In-Network Deductible(Test function)
Harmonise_inn('A_Ded_INN_Ind','Type_Ded_INN_Ind','Tier_Ded_INN_Ind',
             'TEHBDedInnTier1IndividualA','TEHBDedInnTier2IndividualA',
             'MEHBDedInnTier1IndividualA','MEHBDedInnTier2IndividualA',
             'DEHBDedInnTier1IndividualA','DEHBDedInnTier2IndividualA')

,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,PREMI27,PREMI50,CSR,...,TEHBInnTier2FamilyMOOPA,MEHBOutOfNetFamilyMOOP,DEHBOutOfNetFamilyMOOP,TEHBOutOfNetFamilyMOOP,MEHBOutOfNetFamilyMOOPA,DEHBOutOfNetFamilyMOOPA,TEHBOutOfNetFamilyMOOPA,Type_Ded_INN_Ind,Tier_Ded_INN_Ind,A_Ded_INN_Ind
0,38344AK0540010-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,2700.0
1,38344AK0540010-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,2700.0
2,38344AK0540010-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,2700.0
3,38344AK0540006-06,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,300.0
4,38344AK0540006-06,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,300.0
5,38344AK0540006-06,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,300.0
6,38344AK0540008,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,455.00,775.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,6350.0
7,38344AK0540008,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,444.00,756.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,6350.0
8,38344AK0540008,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,433.00,737.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,6350.0
9,38344AK0540003,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,639.00,1088.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1500.0
10,38344AK0540003,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,623.00,1061.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1500.0
11,38344AK0540003,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,655.00,1115.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1500.0
12,38344AK0540010-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,750.0
13,38344AK0540010-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,750.0
14,38344AK0540010-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,750.0
15,38344AK0540009,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,431.00,735.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,5250.0
16,38344AK0540009,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,454.00,773.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,5250.0
17,38344AK0540009,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,442.00,754.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,5250.0
18,38344AK0540006,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,573.00,976.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4500.0
19,38344AK0540006,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,559.00,952.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4500.0
20,38344AK0540006,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,587.00,1001.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4500.0
21,38344AK0540010,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,3000.0
22,38344AK0540010,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,3000.0
23,38344AK0540010,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,3000.0
24,38344AK0540006-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1000.0
25,38344AK0540006-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1000.0
26,38344AK0540006-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1000.0
27,38344AK0540006-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4000.0
28,38344AK0540006-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4000.0
29,38344AK0540006-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36081,11269WY0070018-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,750.0
36082,11269WY0070018-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,750.0
36083,11269WY0070018-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,750.0
36084,11269WY0070014,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,652.29,1111.62,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,2500.0
36085,11269WY0070014,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,2500.0
36086,11269WY0070014,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,2500.0
36087,11269WY0070019,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,7500.0
36088,11269WY0070019,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,7500.0
36089,11269WY0070019,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,464.77,792.05,0,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,7500.0
36090,11269WY0070023-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4000.0
36091,11269WY0070023-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4000.0
36092,11269WY0070023-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,4000.0
36093,11269WY0070016-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,3500.0
36094,11269WY0070016-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,3500.0
36095,11269WY0070016-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,3500.0
36096,11269WY0070023-06,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,200.0
36097,11269WY0070023-06,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,200.0
36098,11269WY0070023-06,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,200.0
36099,11269WY0070023,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,6000.0
36100,11269WY0070023,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,6000.0
36101,11269WY0070023,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,6000.0
36102,11269WY0070016-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,650.0
36103,11269WY0070016-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,650.0
36104,11269WY0070016-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,650.0
36105,11269WY0070018-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,3500.0
36106,11269WY0070018-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,3500.0
36107,11269WY0070018-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,0,2,NaN,NaN,NaN,0,1.0,3500.0
36108,11269WY0070013,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1000.0
36109,11269WY0070013,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,564.07,961.28,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1000.0
36110,11269WY0070013,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,NaN,0,0,2,NaN,NaN,NaN,1,1.0,1000.0

In [24]:
pd.crosstab(df.TEHBDedInnFamily,df.MEHBDedInnFamily)

MEHBDedInnFamily     0      1    99
TEHBDedInnFamily
0                     0  10505  213
1                 24824      0    0

In [25]:
pd.crosstab(df.TEHBDedInnFamily,df.DEHBDedInnFamily)

DEHBDedInnFamily      0      1
TEHBDedInnFamily
0                     0  10718
1                 24824      0

In [26]:
pd.crosstab(df.MEHBDedInnFamily_TIERS, df.DEHBDedInnFamily_TIERS)

DEHBDedInnFamily_TIERS    1.0  2.0
MEHBDedInnFamily_TIERS
1.0                     10580    0
2.0                         0  138

In [27]:
df['Type_Ded_INN_Fam'] = np.where(df['TEHBDedInnFamily']==1, 1, 0)
df['Tier_Ded_INN_Fam'] = np.where(df['Type_Ded_INN_Fam']==1,
                                  df['TEHBDedInnFamily_TIERS'],df['MEHBDedInnFamily_TIERS'])
#Family In-Network Deductible
Harmonise_inn('A_Ded_INN_Fam','Type_Ded_INN_Fam','Tier_Ded_INN_Fam',
             'TEHBDedInnTier1FamilyA','TEHBDedInnTier2FamilyA',
             'MEHBDedInnTier1FamilyA','MEHBDedInnTier2FamilyA',
             'DEHBDedInnTier1FamilyA','DEHBDedInnTier2FamilyA')

,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,PREMI27,PREMI50,CSR,...,TEHBOutOfNetFamilyMOOP,MEHBOutOfNetFamilyMOOPA,DEHBOutOfNetFamilyMOOPA,TEHBOutOfNetFamilyMOOPA,Type_Ded_INN_Ind,Tier_Ded_INN_Ind,A_Ded_INN_Ind,Type_Ded_INN_Fam,Tier_Ded_INN_Fam,A_Ded_INN_Fam
0,38344AK0540010-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,2,NaN,NaN,NaN,1,1.0,2700.0,1,1.0,5400.0
1,38344AK0540010-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,2,NaN,NaN,NaN,1,1.0,2700.0,1,1.0,5400.0
2,38344AK0540010-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,2,NaN,NaN,NaN,1,1.0,2700.0,1,1.0,5400.0
3,38344AK0540006-06,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,2,NaN,NaN,NaN,1,1.0,300.0,1,1.0,600.0
4,38344AK0540006-06,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,2,NaN,NaN,NaN,1,1.0,300.0,1,1.0,600.0
5,38344AK0540006-06,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,2,NaN,NaN,NaN,1,1.0,300.0,1,1.0,600.0
6,38344AK0540008,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,455.00,775.00,0,...,2,NaN,NaN,NaN,1,1.0,6350.0,1,1.0,12700.0
7,38344AK0540008,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,444.00,756.00,0,...,2,NaN,NaN,NaN,1,1.0,6350.0,1,1.0,12700.0
8,38344AK0540008,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,433.00,737.00,0,...,2,NaN,NaN,NaN,1,1.0,6350.0,1,1.0,12700.0
9,38344AK0540003,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,639.00,1088.00,0,...,2,NaN,NaN,NaN,1,1.0,1500.0,1,1.0,3000.0
10,38344AK0540003,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,623.00,1061.00,0,...,2,NaN,NaN,NaN,1,1.0,1500.0,1,1.0,3000.0
11,38344AK0540003,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,655.00,1115.00,0,...,2,NaN,NaN,NaN,1,1.0,1500.0,1,1.0,3000.0
12,38344AK0540010-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,2,NaN,NaN,NaN,1,1.0,750.0,1,1.0,1500.0
13,38344AK0540010-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,2,NaN,NaN,NaN,1,1.0,750.0,1,1.0,1500.0
14,38344AK0540010-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,2,NaN,NaN,NaN,1,1.0,750.0,1,1.0,1500.0
15,38344AK0540009,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,431.00,735.00,0,...,2,NaN,NaN,NaN,1,1.0,5250.0,1,1.0,10500.0
16,38344AK0540009,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,454.00,773.00,0,...,2,NaN,NaN,NaN,1,1.0,5250.0,1,1.0,10500.0
17,38344AK0540009,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,442.00,754.00,0,...,2,NaN,NaN,NaN,1,1.0,5250.0,1,1.0,10500.0
18,38344AK0540006,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,573.00,976.00,0,...,2,NaN,NaN,NaN,1,1.0,4500.0,1,1.0,9000.0
19,38344AK0540006,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,559.00,952.00,0,...,2,NaN,NaN,NaN,1,1.0,4500.0,1,1.0,9000.0
20,38344AK0540006,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,587.00,1001.00,0,...,2,NaN,NaN,NaN,1,1.0,4500.0,1,1.0,9000.0
21,38344AK0540010,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,0,...,2,NaN,NaN,NaN,1,1.0,3000.0,1,1.0,6000.0
22,38344AK0540010,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,0,...,2,NaN,NaN,NaN,1,1.0,3000.0,1,1.0,6000.0
23,38344AK0540010,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,0,...,2,NaN,NaN,NaN,1,1.0,3000.0,1,1.0,6000.0
24,38344AK0540006-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,2,NaN,NaN,NaN,1,1.0,1000.0,1,1.0,2000.0
25,38344AK0540006-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,2,NaN,NaN,NaN,1,1.0,1000.0,1,1.0,2000.0
26,38344AK0540006-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,2,NaN,NaN,NaN,1,1.0,1000.0,1,1.0,2000.0
27,38344AK0540006-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,2,NaN,NaN,NaN,1,1.0,4000.0,1,1.0,8000.0
28,38344AK0540006-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,2,NaN,NaN,NaN,1,1.0,4000.0,1,1.0,8000.0
29,38344AK0540006-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,2,NaN,NaN,NaN,1,1.0,4000.0,1,1.0,8000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36081,11269WY0070018-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,2,NaN,NaN,NaN,0,1.0,750.0,0,1.0,1500.0
36082,11269WY0070018-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,2,NaN,NaN,NaN,0,1.0,750.0,0,1.0,1500.0
36083,11269WY0070018-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,2,NaN,NaN,NaN,0,1.0,750.0,0,1.0,1500.0
36084,11269WY0070014,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,652.29,1111.62,0,...,2,NaN,NaN,NaN,1,1.0,2500.0,1,1.0,5000.0
36085,11269WY0070014,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,2,NaN,NaN,NaN,1,1.0,2500.0,1,1.0,5000.0
36086,11269WY0070014,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,2,NaN,NaN,NaN,1,1.0,2500.0,1,1.0,5000.0
36087,11269WY0070019,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,2,NaN,NaN,NaN,0,1.0,7500.0,0,1.0,15000.0
36088,11269WY0070019,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,2,NaN,NaN,NaN,0,1.0,7500.0,0,1.0,15000.0
36089,11269WY0070019,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,464.77,792.05,0,...,2,NaN,NaN,NaN,0,1.0,7500.0,0,1.0,15000.0
36090,11269WY0070023-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,2,NaN,NaN,NaN,1,1.0,4000.0,1,1.0,8000.0
36091,11269WY0070023-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,2,NaN,NaN,NaN,1,1.0,4000.0,1,1.0,8000.0
36092,11269WY0070023-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,2,NaN,NaN,NaN,1,1.0,4000.0,1,1.0,8000.0
36093,11269WY0070016-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,2,NaN,NaN,NaN,1,1.0,3500.0,1,1.0,7000.0
36094,11269WY0070016-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,2,NaN,NaN,NaN,1,1.0,3500.0,1,1.0,7000.0
36095,11269WY0070016-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,2,NaN,NaN,NaN,1,1.0,3500.0,1,1.0,7000.0
36096,11269WY0070023-06,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,2,NaN,NaN,NaN,1,1.0,200.0,1,1.0,400.0
36097,11269WY0070023-06,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,2,NaN,NaN,NaN,1,1.0,200.0,1,1.0,400.0
36098,11269WY0070023-06,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,2,NaN,NaN,NaN,1,1.0,200.0,1,1.0,400.0
36099,11269WY0070023,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,2,NaN,NaN,NaN,1,1.0,6000.0,1,1.0,12000.0
36100,11269WY0070023,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,2,NaN,NaN,NaN,1,1.0,6000.0,1,1.0,12000.0
36101,11269WY0070023,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,0,...,2,NaN,NaN,NaN,1,1.0,6000.0,1,1.0,12000.0
36102,11269WY0070016-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,2,NaN,NaN,NaN,1,1.0,650.0,1,1.0,1300.0
36103,11269WY0070016-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,2,NaN,NaN,NaN,1,1.0,650.0,1,1.0,1300.0
36104,11269WY0070016-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,2,NaN,NaN,NaN,1,1.0,650.0,1,1.0,1300.0
36105,11269WY0070018-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,2,NaN,NaN,NaN,0,1.0,3500.0,0,1.0,7000.0
36106,11269WY0070018-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,2,NaN,NaN,NaN,0,1.0,3500.0,0,1.0,7000.0
36107,11269WY0070018-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,2,NaN,NaN,NaN,0,1.0,3500.0,0,1.0,7000.0
36108,11269WY0070013,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,2,NaN,NaN,NaN,1,1.0,1000.0,1,1.0,2000.0
36109,11269WY0070013,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,564.07,961.28,0,...,2,NaN,NaN,NaN,1,1.0,1000.0,1,1.0,2000.0
36110,11269WY0070013,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,2,NaN,NaN,NaN,1,1.0,1000.0,1,1.0,2000.0

In [28]:
pd.crosstab(df.TEHBInnIndividualMOOP,df.MEHBInnIndividualMOOP)

MEHBInnIndividualMOOP     0    1   99
TEHBInnIndividualMOOP
0                          0  256  24
1                      35262    0   0

In [29]:
pd.crosstab(df.TEHBInnIndividualMOOP,df.DEHBInnIndividualMOOP)

DEHBInnIndividualMOOP      0    1
TEHBInnIndividualMOOP
0                          0  280
1                      35262    0

In [30]:
pd.crosstab(df.MEHBInnIndividualMOOP,df.DEHBInnIndividualMOOP)

DEHBInnIndividualMOOP      0    1
MEHBInnIndividualMOOP
0                      35262    0
1                          0  256
99                         0   24

In [31]:
pd.crosstab(df.MEHBInnIndividualMOOP_TIERS, df.DEHBInnIndividualMOOP_TIERS)

DEHBInnIndividualMOOP_TIERS  1.0  2.0
MEHBInnIndividualMOOP_TIERS
1.0                          272    0
2.0                            0    8

In [32]:
df['Type_MOOP_INN_Ind'] = np.where(df['TEHBInnIndividualMOOP']==1, 1, 0)
df['Tier_MOOP_INN_Ind'] = np.where(df['Type_MOOP_INN_Ind']==1,
                                  df['TEHBInnIndividualMOOP_TIERS'],df['MEHBInnIndividualMOOP_TIERS'])
#Individual In-Network Maximum Out of Pocket
Harmonise_inn('A_MOOP_INN_Ind','Type_MOOP_INN_Ind','Tier_MOOP_INN_Ind',
             'TEHBInnTier1IndividualMOOPA','TEHBInnTier2IndividualMOOPA',
             'MEHBInnTier1IndividualMOOPA','MEHBInnTier2IndividualMOOPA',
             'DEHBInnTier1IndividualMOOPA','DEHBInnTier2IndividualMOOPA')

,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,PREMI27,PREMI50,CSR,...,TEHBOutOfNetFamilyMOOPA,Type_Ded_INN_Ind,Tier_Ded_INN_Ind,A_Ded_INN_Ind,Type_Ded_INN_Fam,Tier_Ded_INN_Fam,A_Ded_INN_Fam,Type_MOOP_INN_Ind,Tier_MOOP_INN_Ind,A_MOOP_INN_Ind
0,38344AK0540010-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,NaN,1,1.0,2700.0,1,1.0,5400.0,1,1.0,3800.0
1,38344AK0540010-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,NaN,1,1.0,2700.0,1,1.0,5400.0,1,1.0,3800.0
2,38344AK0540010-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,NaN,1,1.0,2700.0,1,1.0,5400.0,1,1.0,3800.0
3,38344AK0540006-06,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,NaN,1,1.0,300.0,1,1.0,600.0,1,1.0,700.0
4,38344AK0540006-06,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,NaN,1,1.0,300.0,1,1.0,600.0,1,1.0,700.0
5,38344AK0540006-06,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,NaN,1,1.0,300.0,1,1.0,600.0,1,1.0,700.0
6,38344AK0540008,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,455.00,775.00,0,...,NaN,1,1.0,6350.0,1,1.0,12700.0,1,1.0,7350.0
7,38344AK0540008,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,444.00,756.00,0,...,NaN,1,1.0,6350.0,1,1.0,12700.0,1,1.0,7350.0
8,38344AK0540008,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,433.00,737.00,0,...,NaN,1,1.0,6350.0,1,1.0,12700.0,1,1.0,7350.0
9,38344AK0540003,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,639.00,1088.00,0,...,NaN,1,1.0,1500.0,1,1.0,3000.0,1,1.0,6000.0
10,38344AK0540003,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,623.00,1061.00,0,...,NaN,1,1.0,1500.0,1,1.0,3000.0,1,1.0,6000.0
11,38344AK0540003,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,655.00,1115.00,0,...,NaN,1,1.0,1500.0,1,1.0,3000.0,1,1.0,6000.0
12,38344AK0540010-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,NaN,1,1.0,750.0,1,1.0,1500.0,1,1.0,1400.0
13,38344AK0540010-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,NaN,1,1.0,750.0,1,1.0,1500.0,1,1.0,1400.0
14,38344AK0540010-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,NaN,1,1.0,750.0,1,1.0,1500.0,1,1.0,1400.0
15,38344AK0540009,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,431.00,735.00,0,...,NaN,1,1.0,5250.0,1,1.0,10500.0,1,1.0,6600.0
16,38344AK0540009,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,454.00,773.00,0,...,NaN,1,1.0,5250.0,1,1.0,10500.0,1,1.0,6600.0
17,38344AK0540009,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,442.00,754.00,0,...,NaN,1,1.0,5250.0,1,1.0,10500.0,1,1.0,6600.0
18,38344AK0540006,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,573.00,976.00,0,...,NaN,1,1.0,4500.0,1,1.0,9000.0,1,1.0,7350.0
19,38344AK0540006,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,559.00,952.00,0,...,NaN,1,1.0,4500.0,1,1.0,9000.0,1,1.0,7350.0
20,38344AK0540006,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,587.00,1001.00,0,...,NaN,1,1.0,4500.0,1,1.0,9000.0,1,1.0,7350.0
21,38344AK0540010,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,0,...,NaN,1,1.0,3000.0,1,1.0,6000.0,1,1.0,6600.0
22,38344AK0540010,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,0,...,NaN,1,1.0,3000.0,1,1.0,6000.0,1,1.0,6600.0
23,38344AK0540010,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,0,...,NaN,1,1.0,3000.0,1,1.0,6000.0,1,1.0,6600.0
24,38344AK0540006-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,NaN,1,1.0,1000.0,1,1.0,2000.0,1,1.0,1850.0
25,38344AK0540006-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,NaN,1,1.0,1000.0,1,1.0,2000.0,1,1.0,1850.0
26,38344AK0540006-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,NaN,1,1.0,1000.0,1,1.0,2000.0,1,1.0,1850.0
27,38344AK0540006-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,NaN,1,1.0,4000.0,1,1.0,8000.0,1,1.0,5850.0
28,38344AK0540006-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,NaN,1,1.0,4000.0,1,1.0,8000.0,1,1.0,5850.0
29,38344AK0540006-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,NaN,1,1.0,4000.0,1,1.0,8000.0,1,1.0,5850.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36081,11269WY0070018-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,1.0,750.0,0,1.0,1500.0,1,1.0,2450.0
36082,11269WY0070018-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,NaN,0,1.0,750.0,0,1.0,1500.0,1,1.0,2450.0
36083,11269WY0070018-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,1.0,750.0,0,1.0,1500.0,1,1.0,2450.0
36084,11269WY0070014,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,652.29,1111.62,0,...,NaN,1,1.0,2500.0,1,1.0,5000.0,1,1.0,7350.0
36085,11269WY0070014,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,NaN,1,1.0,2500.0,1,1.0,5000.0,1,1.0,7350.0
36086,11269WY0070014,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,NaN,1,1.0,2500.0,1,1.0,5000.0,1,1.0,7350.0
36087,11269WY0070019,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,NaN,0,1.0,7500.0,0,1.0,15000.0,1,1.0,7350.0
36088,11269WY0070019,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,NaN,0,1.0,7500.0,0,1.0,15000.0,1,1.0,7350.0
36089,11269WY0070019,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,464.77,792.05,0,...,NaN,0,1.0,7500.0,0,1.0,15000.0,1,1.0,7350.0
36090,11269WY0070023-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,1,1.0,4000.0,1,1.0,8000.0,1,1.0,5850.0
36091,11269WY0070023-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,NaN,1,1.0,4000.0,1,1.0,8000.0,1,1.0,5850.0
36092,11269WY0070023-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,1,1.0,4000.0,1,1.0,8000.0,1,1.0,5850.0
36093,11269WY0070016-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,1,1.0,3500.0,1,1.0,7000.0,1,1.0,5850.0
36094,11269WY0070016-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,NaN,1,1.0,3500.0,1,1.0,7000.0,1,1.0,5850.0
36095,11269WY0070016-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,1,1.0,3500.0,1,1.0,7000.0,1,1.0,5850.0
36096,11269WY0070023-06,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,1,1.0,200.0,1,1.0,400.0,1,1.0,1150.0
36097,11269WY0070023-06,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,NaN,1,1.0,200.0,1,1.0,400.0,1,1.0,1150.0
36098,11269WY0070023-06,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,NaN,1,1.0,200.0,1,1.0,400.0,1,1.0,1150.0
36099,11269WY0070023,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,NaN,1,1.0,6000.0,1,1.0,12000.0,1,1.0,7350.0
36100,11269WY0070023,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,NaN,1,1.0,6000.0,1,1.0,12000.0,1,1.0,7350.0
36101,11269WY0070023,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,0,...,NaN,1,1.0,6000.0,1,1.0,12000.0,1,1.0,7350.0
36102,11269WY0070016-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,1,1.0,650.0,1,1.0,1300.0,1,1.0,2450.0
36103,11269WY0070016-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,NaN,1,1.0,650.0,1,1.0,1300.0,1,1.0,2450.0
36104,11269WY0070016-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,NaN,1,1.0,650.0,1,1.0,1300.0,1,1.0,2450.0
36105,11269WY0070018-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,1.0,3500.0,0,1.0,7000.0,1,1.0,5850.0
36106,11269WY0070018-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,NaN,0,1.0,3500.0,0,1.0,7000.0,1,1.0,5850.0
36107,11269WY0070018-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,NaN,0,1.0,3500.0,0,1.0,7000.0,1,1.0,5850.0
36108,11269WY0070013,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,NaN,1,1.0,1000.0,1,1.0,2000.0,1,1.0,7350.0
36109,11269WY0070013,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,564.07,961.28,0,...,NaN,1,1.0,1000.0,1,1.0,2000.0,1,1.0,7350.0
36110,11269WY0070013,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,NaN,1,1.0,1000.0,1,1.0,2000.0,1,1.0,7350.0

In [33]:
pd.crosstab(df.TEHBInnFamilyMOOP,df.MEHBInnFamilyMOOP)

MEHBInnFamilyMOOP     0    1    99
TEHBInnFamilyMOOP
0                      0  233  213
1                  35096    0    0

In [34]:
pd.crosstab(df.TEHBInnFamilyMOOP,df.DEHBInnFamilyMOOP)

DEHBInnFamilyMOOP      0    1
TEHBInnFamilyMOOP
0                      0  446
1                  35096    0

In [35]:
pd.crosstab(df.MEHBInnFamilyMOOP_TIERS, df.DEHBInnFamilyMOOP_TIERS)

DEHBInnFamilyMOOP_TIERS  1.0  2.0
MEHBInnFamilyMOOP_TIERS
1.0                      426    0
2.0                        0   20

In [36]:
df['Type_MOOP_INN_Fam'] = np.where(df['TEHBInnFamilyMOOP']==1, 1, 0)
df['Tier_MOOP_INN_Fam'] = np.where(df['Type_MOOP_INN_Fam']==1,
                                  df['TEHBInnFamilyMOOP_TIERS'],df['MEHBInnFamilyMOOP_TIERS'])
#Individual In-Network Maximum Out of Pocket
Harmonise_inn('A_MOOP_INN_Fam','Type_MOOP_INN_Fam','Tier_MOOP_INN_Fam',
             'TEHBInnTier1FamilyMOOPA','TEHBInnTier2FamilyMOOPA',
             'MEHBInnTier1FamilyMOOPA','MEHBInnTier2FamilyMOOPA',
             'DEHBInnTier1FamilyMOOPA','DEHBInnTier2FamilyMOOPA')

,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,PREMI27,PREMI50,CSR,...,A_Ded_INN_Ind,Type_Ded_INN_Fam,Tier_Ded_INN_Fam,A_Ded_INN_Fam,Type_MOOP_INN_Ind,Tier_MOOP_INN_Ind,A_MOOP_INN_Ind,Type_MOOP_INN_Fam,Tier_MOOP_INN_Fam,A_MOOP_INN_Fam
0,38344AK0540010-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,2700.0,1,1.0,5400.0,1,1.0,3800.0,1,1.0,7600.0
1,38344AK0540010-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,2700.0,1,1.0,5400.0,1,1.0,3800.0,1,1.0,7600.0
2,38344AK0540010-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,2700.0,1,1.0,5400.0,1,1.0,3800.0,1,1.0,7600.0
3,38344AK0540006-06,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,300.0,1,1.0,600.0,1,1.0,700.0,1,1.0,1400.0
4,38344AK0540006-06,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,300.0,1,1.0,600.0,1,1.0,700.0,1,1.0,1400.0
5,38344AK0540006-06,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,300.0,1,1.0,600.0,1,1.0,700.0,1,1.0,1400.0
6,38344AK0540008,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,455.00,775.00,0,...,6350.0,1,1.0,12700.0,1,1.0,7350.0,1,1.0,14700.0
7,38344AK0540008,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,444.00,756.00,0,...,6350.0,1,1.0,12700.0,1,1.0,7350.0,1,1.0,14700.0
8,38344AK0540008,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 6350,Bronze,1,433.00,737.00,0,...,6350.0,1,1.0,12700.0,1,1.0,7350.0,1,1.0,14700.0
9,38344AK0540003,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,639.00,1088.00,0,...,1500.0,1,1.0,3000.0,1,1.0,6000.0,1,1.0,12000.0
10,38344AK0540003,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,623.00,1061.00,0,...,1500.0,1,1.0,3000.0,1,1.0,6000.0,1,1.0,12000.0
11,38344AK0540003,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Gold 1500,Gold,1,655.00,1115.00,0,...,1500.0,1,1.0,3000.0,1,1.0,6000.0,1,1.0,12000.0
12,38344AK0540010-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,1,...,750.0,1,1.0,1500.0,1,1.0,1400.0,1,1.0,2800.0
13,38344AK0540010-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,1,...,750.0,1,1.0,1500.0,1,1.0,1400.0,1,1.0,2800.0
14,38344AK0540010-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,1,...,750.0,1,1.0,1500.0,1,1.0,1400.0,1,1.0,2800.0
15,38344AK0540009,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,431.00,735.00,0,...,5250.0,1,1.0,10500.0,1,1.0,6600.0,1,1.0,13200.0
16,38344AK0540009,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,454.00,773.00,0,...,5250.0,1,1.0,10500.0,1,1.0,6600.0,1,1.0,13200.0
17,38344AK0540009,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Bronze 5250 HSA,Bronze,1,442.00,754.00,0,...,5250.0,1,1.0,10500.0,1,1.0,6600.0,1,1.0,13200.0
18,38344AK0540006,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,573.00,976.00,0,...,4500.0,1,1.0,9000.0,1,1.0,7350.0,1,1.0,14700.0
19,38344AK0540006,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,559.00,952.00,0,...,4500.0,1,1.0,9000.0,1,1.0,7350.0,1,1.0,14700.0
20,38344AK0540006,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500,Silver,1,587.00,1001.00,0,...,4500.0,1,1.0,9000.0,1,1.0,7350.0,1,1.0,14700.0
21,38344AK0540010,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,611.00,1042.00,0,...,3000.0,1,1.0,6000.0,1,1.0,6600.0,1,1.0,13200.0
22,38344AK0540010,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,581.00,991.00,0,...,3000.0,1,1.0,6000.0,1,1.0,6600.0,1,1.0,13200.0
23,38344AK0540010,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 3000 HSA,Silver,1,596.00,1016.00,0,...,3000.0,1,1.0,6000.0,1,1.0,6600.0,1,1.0,13200.0
24,38344AK0540006-05,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,1000.0,1,1.0,2000.0,1,1.0,1850.0,1,1.0,3700.0
25,38344AK0540006-05,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,1000.0,1,1.0,2000.0,1,1.0,1850.0,1,1.0,3700.0
26,38344AK0540006-05,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,1000.0,1,1.0,2000.0,1,1.0,1850.0,1,1.0,3700.0
27,38344AK0540006-04,AK,AK02,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,587.00,1001.00,1,...,4000.0,1,1.0,8000.0,1,1.0,5850.0,1,1.0,11700.0
28,38344AK0540006-04,AK,AK03,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,573.00,976.00,1,...,4000.0,1,1.0,8000.0,1,1.0,5850.0,1,1.0,11700.0
29,38344AK0540006-04,AK,AK01,Premera BlueCross BlueShield of Alaska,Premera Blue Cross Preferred Plus Silver 4500 ...,Silver,1,559.00,952.00,1,...,4000.0,1,1.0,8000.0,1,1.0,5850.0,1,1.0,11700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36081,11269WY0070018-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,750.0,0,1.0,1500.0,1,1.0,2450.0,1,1.0,4900.0
36082,11269WY0070018-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,750.0,0,1.0,1500.0,1,1.0,2450.0,1,1.0,4900.0
36083,11269WY0070018-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,750.0,0,1.0,1500.0,1,1.0,2450.0,1,1.0,4900.0
36084,11269WY0070014,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,652.29,1111.62,0,...,2500.0,1,1.0,5000.0,1,1.0,7350.0,1,1.0,14700.0
36085,11269WY0070014,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,2500.0,1,1.0,5000.0,1,1.0,7350.0,1,1.0,14700.0
36086,11269WY0070014,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Classic,Silver,1,715.75,1219.78,0,...,2500.0,1,1.0,5000.0,1,1.0,7350.0,1,1.0,14700.0
36087,11269WY0070019,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,7500.0,0,1.0,15000.0,1,1.0,7350.0,1,1.0,14700.0
36088,11269WY0070019,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,509.99,869.12,0,...,7500.0,0,1.0,15000.0,1,1.0,7350.0,1,1.0,14700.0
36089,11269WY0070019,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Bronze Value,Bronze,1,464.77,792.05,0,...,7500.0,0,1.0,15000.0,1,1.0,7350.0,1,1.0,14700.0
36090,11269WY0070023-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,4000.0,1,1.0,8000.0,1,1.0,5850.0,1,1.0,11700.0
36091,11269WY0070023-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,4000.0,1,1.0,8000.0,1,1.0,5850.0,1,1.0,11700.0
36092,11269WY0070023-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,4000.0,1,1.0,8000.0,1,1.0,5850.0,1,1.0,11700.0
36093,11269WY0070016-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,3500.0,1,1.0,7000.0,1,1.0,5850.0,1,1.0,11700.0
36094,11269WY0070016-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,3500.0,1,1.0,7000.0,1,1.0,5850.0,1,1.0,11700.0
36095,11269WY0070016-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,3500.0,1,1.0,7000.0,1,1.0,5850.0,1,1.0,11700.0
36096,11269WY0070023-06,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,200.0,1,1.0,400.0,1,1.0,1150.0,1,1.0,2300.0
36097,11269WY0070023-06,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,1,...,200.0,1,1.0,400.0,1,1.0,1150.0,1,1.0,2300.0
36098,11269WY0070023-06,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,1,...,200.0,1,1.0,400.0,1,1.0,1150.0,1,1.0,2300.0
36099,11269WY0070023,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,6000.0,1,1.0,12000.0,1,1.0,7350.0,1,1.0,14700.0
36100,11269WY0070023,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,716.61,1221.24,0,...,6000.0,1,1.0,12000.0,1,1.0,7350.0,1,1.0,14700.0
36101,11269WY0070023,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Balance,Silver,1,653.07,1112.96,0,...,6000.0,1,1.0,12000.0,1,1.0,7350.0,1,1.0,14700.0
36102,11269WY0070016-05,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,650.0,1,1.0,1300.0,1,1.0,2450.0,1,1.0,4900.0
36103,11269WY0070016-05,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,655.03,1116.30,1,...,650.0,1,1.0,1300.0,1,1.0,2450.0,1,1.0,4900.0
36104,11269WY0070016-05,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver HealthPlus,Silver,1,718.76,1224.91,1,...,650.0,1,1.0,1300.0,1,1.0,2450.0,1,1.0,4900.0
36105,11269WY0070018-04,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,3500.0,0,1.0,7000.0,1,1.0,5850.0,1,1.0,11700.0
36106,11269WY0070018-04,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,656.15,1118.20,1,...,3500.0,0,1.0,7000.0,1,1.0,5850.0,1,1.0,11700.0
36107,11269WY0070018-04,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Silver Value,Silver,1,719.99,1227.00,1,...,3500.0,0,1.0,7000.0,1,1.0,5850.0,1,1.0,11700.0
36108,11269WY0070013,WY,WY01,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,1000.0,1,1.0,2000.0,1,1.0,7350.0,1,1.0,14700.0
36109,11269WY0070013,WY,WY02,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,564.07,961.28,0,...,1000.0,1,1.0,2000.0,1,1.0,7350.0,1,1.0,14700.0
36110,11269WY0070013,WY,WY03,BlueCross BlueShield of Wyoming,BlueSelect Gold HealthPlus,Gold,1,618.95,1054.81,0,...,1000.0,1,1.0,2000.0,1,1.0,7350.0,1,1.0,14700.0

In [37]:
pd.crosstab(df.TEHBDedOutOfNetIndividual,df.MEHBDedOutOfNetIndividual)

MEHBDedOutOfNetIndividual     0     1     2   99
TEHBDedOutOfNetIndividual
0                              0  2376  8345  45
1                           5959     0     0   0
2                          18786     0     0   0
99                            31     0     0   0

In [38]:
pd.crosstab(df.TEHBDedOutOfNetIndividual,df.DEHBDedOutOfNetIndividual)

DEHBDedOutOfNetIndividual     0     1     2   99
TEHBDedOutOfNetIndividual
0                              0  1522  9193  51
1                           5959     0     0   0
2                          18786     0     0   0
99                            31     0     0   0

In [39]:
df['Type_Ded_OON_Ind'] = np.where(df['TEHBDedOutOfNetIndividual']>0, 1, 0)

In [40]:
pd.crosstab(df.TEHBDedOutOfNetFamily,df.MEHBDedOutOfNetFamily)

MEHBDedOutOfNetFamily     0     1     2    99
TEHBDedOutOfNetFamily
0                          0  2302  8203  213
1                       5861     0     0    0
2                      18944     0     0    0
99                        19     0     0    0

In [41]:
pd.crosstab(df.TEHBDedOutOfNetFamily,df.DEHBDedOutOfNetFamily)

DEHBDedOutOfNetFamily     0     1     2    99
TEHBDedOutOfNetFamily
0                          0  1184  9321  213
1                       5861     0     0    0
2                      18944     0     0    0
99                        19     0     0    0

In [42]:
df['Type_Ded_OON_Fam'] = np.where(df['TEHBDedOutOfNetFamily']>0, 1, 0)

In [43]:
pd.crosstab(df.TEHBOutOfNetIndividualMOOP,df.MEHBOutOfNetIndividualMOOP)

MEHBOutOfNetIndividualMOOP     0   1    2   99
TEHBOutOfNetIndividualMOOP
0                               0  75  160  45
1                            5532   0    0   0
2                           29632   0    0   0
99                             98   0    0   0

In [44]:
pd.crosstab(df.TEHBOutOfNetIndividualMOOP,df.DEHBOutOfNetIndividualMOOP)

DEHBOutOfNetIndividualMOOP     0   1    2   99
TEHBOutOfNetIndividualMOOP
0                               0  75  160  45
1                            5532   0    0   0
2                           29632   0    0   0
99                             98   0    0   0

In [45]:
df['Type_MOOP_OON_Ind'] = np.where(df['TEHBOutOfNetIndividualMOOP']>0, 1, 0)

In [46]:
pd.crosstab(df.TEHBOutOfNetFamilyMOOP,df.MEHBOutOfNetFamilyMOOP)

MEHBOutOfNetFamilyMOOP     0   1    2    99
TEHBOutOfNetFamilyMOOP
0                           0  67  158  221
1                        5532   0    0    0
2                       29545   0    0    0
99                         19   0    0    0

In [47]:
pd.crosstab(df.TEHBOutOfNetFamilyMOOP,df.DEHBOutOfNetFamilyMOOP)

DEHBOutOfNetFamilyMOOP     0   1    2    99
TEHBOutOfNetFamilyMOOP
0                           0  75  158  213
1                        5532   0    0    0
2                       29545   0    0    0
99                         19   0    0    0

In [48]:
df['Type_MOOP_OON_Fam'] = np.where(df['TEHBOutOfNetFamilyMOOP']>0, 1, 0)

In [49]:
df.groupby(df['TIERED']==1)['TIERED'].count()

TIERED
False    33640
True      1902
Name: TIERED, dtype: int64

#### Plans Across Types

In [50]:
#data completeness across types
df.groupby('PLANTYPE')['PLANID','AREA','ST','METAL',
                       'CARRIER','CSR','PLANMARKET','NETWORKID','TIERED'].nunique()

          PLANID  AREA  ST  METAL  CARRIER  CSR  PLANMARKET  NETWORKID  TIERED
PLANTYPE
1           1424   338  40      5       51    2           3         90       2
2           4188   330  40      5       85    2           3        177       2
3            626    76  13      5       18    2           3         52       2
4           1315   246  24      5       34    2           3         75       2

In [51]:
#Plan distribution by State
df.groupby('ST')['PLANID','AREA','NETWORKID'].nunique()

    PLANID  AREA  NETWORKID
ST
AK      11     3          1
AL      30    13          3
AR      96     7          4
AZ      81     7          4
CA     484    19         21
CO     329     9         16
CT      53     8          5
DC      44     1          3
DE      16     1          1
FL     426    67         12
GA     212    16          7
HI      62     1          3
IA      27     7          3
ID     252     6         16
IL     368    13          8
IN      94    17          4
KS      41     7          4
KY      58     8          2
LA     104     8          6
MA     133     7         15
MD      62     4          7
ME      49     4          3
MI     251    16         18
MN     215     9         13
MO      90    10          5
MS      42     6          2
MT      81     4          6
NC      78    16          6
ND      42     4          3
NE      18     4          2
NH      59     1          6
NJ      60     6          9
NM     113     5          5
NV      99     4          8
NY     629     8         33
OH     373    17         12
OK      77     5          3
OR     103     7         13
PA     262     9         23
RI      33     1          5
SC      80    46          1
SD      67     4          3
TN     104     8          3
TX     578    26         12
UT      74     6          7
VA     135    12         10
VT      61     1          5
WA     131     5         15
WI     593    16         22
WV      52    11          3
WY      21     3          1

#### Check On and Off overlap

In [52]:
#Confirm each plan id is given only one plantype classification
matrix = pd.crosstab(df.PLANID,df.PLANTYPE)
matrix.columns = ['t1','t2','t3','t4']
matrix['n1'] = np.where(matrix['t1']>0,1,0)
matrix['n2'] = np.where(matrix['t2']>0,1,0)
matrix['n3'] = np.where(matrix['t3']>0,1,0)
matrix['n4'] = np.where(matrix['t4']>0,1,0)
matrix['n_sum'] = matrix['n1']+matrix['n2']+matrix['n3']+matrix['n4']
matrix.groupby(matrix['n_sum']==1)['n_sum'].count()

n_sum
True    7553
Name: n_sum, dtype: int64

In [53]:
ST_matrix = pd.crosstab(df.ST,df.PLANTYPE)
ST_matrix.columns = ['PPO','HMO','POS','EPO']
ST_matrix

     PPO   HMO  POS   EPO
ST
AK    33     0    0     0
AL   208     0    0    14
AR   458    52  122     0
AZ    14    87    0     0
CA   336   707    0   153
CO     9  1086    0    96
CT    88   176  144    16
DC     9    35    0     0
DE     0     0    0    16
FL  1227  1850  205  3760
GA    68   680    0     0
HI    13    49    0     0
IA   126     0    0     0
ID   281    14  379     0
IL   117   414  161     0
IN     0   600    0   650
KS    70    10    0    87
KY     0   325    0     0
LA    88     0  325     0
MA    14   844    0     0
MD    35   192    0     0
ME    52   129    0     0
MI   324  1280    0     0
MN   482    31    0     0
MO    47     0    0   386
MS   168    84    0     0
MT   140    12    0     0
NC   208    45  127     0
ND    52    96    0     0
NE    63     0    0     0
NH     0    54    0     5
NJ     0    55    0   295
NM     0   255    0     0
NV    66   136    0    11
NY     0  1669  119   474
OH   269  1584    0    34
OK    70     7    0     0
OR   138     0    0   203
PA   203   135    9   187
RI    16    12    5     0
SC     0     0    0  3680
SD    98   124    0     0
TN    60     0    0    44
TX     0   717    0   561
UT    11   227    0    81
VA     7   373   95    22
VT     0    26    0    35
WA     0   227    1   148
WI   161  1462   73   556
WV   220   290    0     0
WY    63     0    0     0

In [54]:
#Confirm each plan id is given only one plan market classification
M_matrix = pd.crosstab(df.PLANID,df.PLANMARKET)
M_matrix.columns = ['M1','M2','M3']
M_matrix

                   M1  M2  M3
PLANID
10091OR0680001      0   0   2
10091OR0680002      0   0   2
10091OR0680003      0   0   2
10091OR0680003-04   2   0   0
10091OR0680003-05   2   0   0
10091OR0680003-06   2   0   0
10091OR0680004      0   0   2
10091OR0680005      0   0   1
10091OR0680006      0   0   1
10091OR0680007      0   0   1
10091OR0680007-04   1   0   0
10091OR0680007-05   1   0   0
10091OR0680007-06   1   0   0
10091OR0680008      0   0   1
10207VA0380001      0   0   1
10207VA0380001-04   1   0   0
10207VA0380001-05   1   0   0
10207VA0380001-06   1   0   0
10207VA0380003      1   0   0
10207VA0380004      1   0   0
10207VA0380005      0   1   0
10207VA0380006      0   1   0
10207VA0380007      0   1   0
10940OR0300005      0   7   0
10940OR0300006      0   7   0
11177NY0010001      1   0   0
11177NY0010002      1   0   0
11177NY0040001      1   0   0
11177NY0040001-04   1   0   0
11177NY0040001-05   1   0   0
...                ..  ..  ..
99969OH0080081-06   1   0   0
99969OH0080082      0   0   1
99969OH0080083      0   0   1
99969OH0080084      0   0   1
99969OH0080085      0   0   1
99969OH0090001      0   8   0
99969OH0090003      0   8   0
99969OH0090005      0   8   0
99969OH0090007      0   8   0
99969OH0090024      0   8   0
99969OH0090025      0   8   0
99969OH0090026      0   8   0
99969OH0090034      0   1   0
99969OH0090035      0   1   0
99969OH0090036      0   1   0
99969OH0090037      0   1   0
99969OH0090038      0   1   0
99969OH0090039      0   1   0
99969OH0090040      0   1   0
99969OH0090041      0   2   0
99969OH0090042      0   2   0
99969OH0090043      0   2   0
99969OH0090044      0   2   0
99969OH0090045      0   2   0
99969OH0090046      0   2   0
99969OH0090047      0   2   0
99969OH0090048      0   5   0
99969OH0090049      0   5   0
99969OH0090050      0   5   0
99969OH0090051      0   5   0

[7553 rows x 3 columns]

In [55]:
M_matrix['n1'] = np.where(M_matrix['M1']>0,1,0)
M_matrix['n2'] = np.where(M_matrix['M2']>0,1,0)
M_matrix['n3'] = np.where(M_matrix['M3']>0,1,0)
M_matrix['n_sum'] = M_matrix['n1']+M_matrix['n2']+M_matrix['n3']
M_matrix.groupby(M_matrix['n_sum']==1)['n_sum'].count()

n_sum
True    7553
Name: n_sum, dtype: int64

#### Initial Premium Evaluation

In [56]:
pd.crosstab(index=df["METAL"],columns="count")

col_0         count
METAL
Bronze         5387
Catastrophic   1001
Gold           3603
Platinum       1117
Silver        24434

In [57]:
OnSilver0 = df[(df['METAL']=='Silver') & (df['CSR']==0) & (df['PLANMARKET'] == 1)]
ST_OnSilver0 = OnSilver0.groupby('ST')['PREMI27'].mean()
ST_OnSilver0.shape
ST_OnSilver0

(21,)

ST
AL    448.190000
AR    345.588571
CA    384.434444
CO    391.417872
CT    457.665357
DC    244.655000
GA    402.721250
HI    370.103333
MA    381.201364
MD    435.481667
MN    373.826316
NC    532.290000
NM    349.262000
NV    406.886667
NY    662.589524
PA    477.220000
VA    398.734000
VT    534.632727
WA    297.307600
WI    472.756364
WY    697.218889
Name: PREMI27, dtype: float64

In [58]:
OOSilver0 = df[(df['METAL']=='Silver') & (df['CSR']==0) & (df['PLANMARKET'] == 2)]
ST_OOSilver0 = OOSilver0.groupby('ST')['PREMI27'].mean()
ST_OOSilver0.shape
ST_OOSilver0

(40,)

ST
AL    416.130000
AR    347.843721
AZ    448.400000
CA    366.780303
CO    392.542807
CT    452.813750
FL    478.989748
GA    415.577500
HI    323.426667
ID    255.327778
IL    424.810769
KY    375.116250
LA    417.362727
MA    401.559107
MD    357.570976
ME    511.973333
MI    358.529180
MN    402.655556
MO    415.761111
MS    390.383333
MT    464.005000
ND    313.470000
NH    434.915000
NJ    815.683846
NM    332.152857
NV    361.831695
NY    613.903868
OH    315.982692
OK    442.045000
OR    352.229444
PA    358.793143
RI    330.370000
SC    352.254457
SD    444.111111
TN    435.870000
TX    400.853030
UT    455.416129
VA    479.897778
WA    320.618571
WI    369.838768
Name: PREMI27, dtype: float64

In [59]:
OffSilver0 = df[(df['METAL']=='Silver') & (df['CSR']==0) & (df['PLANMARKET'] == 3)]
ST_OffSilver0 = OffSilver0.groupby('ST')['PREMI27'].mean()
ST_OffSilver0.shape
ST_OffSilver0

(48,)

ST
AK    584.500000
AL    440.681538
AR    333.531134
AZ    456.965833
CA    411.574634
CO    453.084091
DC    269.230000
DE    481.293333
FL    490.743481
GA    477.915224
HI    436.293333
IA    587.541429
ID    428.232653
IL    478.318618
IN    302.466926
KS    436.911250
KY    357.496721
LA    521.357536
MA    388.657556
MD    646.900000
ME    518.276897
MI    372.904397
MN    378.819333
MO    499.113500
MS    428.755556
MT    446.918182
NC    525.736286
ND    285.293000
NE    597.571429
NH    407.155000
NJ    428.703692
NM    378.558750
NY    592.091606
OH    360.594888
OK    482.995000
OR    355.086863
PA    401.326000
RI    305.894000
SC    431.761755
SD    454.827500
TN    561.095789
TX    380.479017
UT    568.011395
VA    505.766212
WA    313.196250
WI    481.183726
WV    474.867551
WY    694.596667
Name: PREMI27, dtype: float64

In [ ]:
type(ST_OnSilver0)

In [ ]:
ST_OnSilver = pd.DataFrame({'State':ST_OnSilver0.index, 'On Silver Premium':ST_OnSilver0.values})

In [ ]:
ST_OnSilver0.columns = ['State','On Marketplace Silver Premium']
ST_OOSilver0.columns = ['State','On&Off Marketplace Silver Premium']
ST_OffSilver0.columns = ['State','Off Marketplace Silver Premium']